.menu{
	list-style-type: none;
	margin: 0px;
	padding-top: 6px;
	padding-bottom: 1px;
	height: 22px;
	background-color: #3498db;
	font-family: 'Avenir', sans-serif;
	font-size: 1.02em;
	text-align: center;
	opacity: .8;
	border-radius: 4px;
}

.menu li{
	float: left;
	position: relative;
	padding-right: 6%;
	padding-left: 3%;
}

.menu a{
	display:block;
	color: white;
	text-decoration: none;
}
.menu a:visited{
	color: white;
	display:block;
	text-decoration: none;
}

.menu ul{
	list-style: none;
	position: absolute;
	right: 7000px;
	background: #2A7AAF;
	border-radius:5px;
	opacity: .8;
}

.menu ul li{
	padding-top: .08em;
}

.menu ul a{
	white-space: nowrap;
}
.menu ul a:visited{
	white-space: nowrap;
	color:white;
}
.menu li:hover ul{
	right: 0px;
}
.menu li:hover a{
	text-decoration:none;
}
.t{
	font-family: "Avenir", sans-serif;
	font-size: 1.02em;
}
#headlink{
	font-family: "Avenir", sans-serif;
	font-size: 2em;
	color: deepskyblue;
	text-decoration: none;
	text-align: center;
}
#container{
    text-align: center;
    font-family: "Avenir", sans-serif;
}
#mid-image{
	border-radius: 15px;
	width: 40%;
}