.login{
	font-family: "Avenir", sans-serif;
	font-size: 1.5em;
	margin-left: 30%;
	margin-right: 42%;
	text-align: right;
	margin-top: 10%;
}
.main-button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 21;
    -moz-border-radius: 21;
    border-radius: 21px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #256f9e 2px;
    text-decoration: none;
    width: 22%;
}

.main-button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
#button-submit{
    background: #0086B2;
    font-family: "Avenir", Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #0086B2 2px;
    text-decoration: none;
    width: 24%;
    width: 20%;
    margin-right: 42%;
    margin-left: 38%;
}
#button-submit:hover {
    background: #00BFFF;
    border: solid #00BFFF 2px;
    text-decoration: none;
}
.success{
    font-family: "Avenir", sans-serif;
    font-size: 1.5em;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    margin-top: 10%;
}
.forgotten_password{
    font-family: "Avenir", sans-serif;
    font-size: .9em;
    margin-left: 42%;
    text-align: left;
}
.failed{
    font-family: "Avenir", sans-serif;
    font-size: 1.3em;
    margin-left: 31%;
    color: RED;
}