html{
    background-image: url("bg.png");
}
h2{
    text-align: center;
    color: #080808;
}
h4{
    text-align: center;
}
.head-right {
    text-align: right;
    color: deepskyblue;
}
body{
    color:#000;
    font:normal 1em 'Avenir', arial, verdana, sans-serif;
    display: block;
    background-color: #F3F3F3;
    opacity: 1;
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
    padding-top: 0.4%;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Avenir", arial, verdana, sans-serif;
    font-weight:normal;
}

#main-header {
    font-family: 'Avenir',sans-serif;
    font-size: 1.5em;
    color: #363636;
    background-color: #2952CC;
    position: fixed;
    top: 1.2em;
    left: 1.2em;
}

.main-button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 21;
    -moz-border-radius: 21;
    border-radius: 21px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #256f9e 2px;
    text-decoration: none;
    width: 100%;
}

.main-button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}