html{
    background: #FFFFFF;
}
h2{
    text-align: center;
    color: #00BFFF;}
h4{
    text-align: center;
}
h3{
    color: #00BFFF;
}
.head-right {
    color: #00BFFF;
    margin-left: 50%;
}
.head-left{
    color: #00BFFF;
    font-size: 2em;
    text-align: left;
    padding-left: 4%;
}
.top{
    padding-left: 0%;
    padding-right: 2%;
}
#left-bottom{
    float:left;
    display: inline;
    width: 48%;
    padding-right: 2%
} 
#right-bottom{
    float:right;
    display: inline;
    width: 48%;
    padding-left: 2%;
}
body{

    color:#000;
    font:normal 1em 'Avenir', arial, verdana, sans-serif;
    display: block;
    background-color: #FFFFFF;
    opacity: 1;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 0%;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Avenir", arial, verdana, sans-serif;
    font-weight:normal;
}

#main-header {
    font-family: 'Avenir',sans-serif;
    font-size: 1.5em;
    color: #363636;
    background-color: #2952CC;
    position: fixed;
    top: 1.2em;
    left: 1.2em;
}

.main-button {
    background: #0086B2;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #0086B2 2px;
    text-decoration: none;
    width: 24%;
}

.main-button:hover {
    background: #00BFFF;
    text-decoration: none;
    border: solid #00BFFF 2px;
}
footer{
    text-align: center;
}
table{
    font-family: "Avenir", arial, verdana, sans-serif;
}
td{
    width: 20%;
}
th{
    text-align: left;
    width: 20%;
}
hr{
    color: #0086B2;
}
#brand{
    color: #303030;
    text-align: center;
}
#bigbutton{
    width: 50%;
    display: inline-block;
}
.grid-50{
    border:solid #FF8200 2px;
}
a{
    color: #FF8200;
}
a:visited{
    color: #B25B00;
}
.pricing-content{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
tr{
    border:solid #FF8200 2px;
}
th{
    background-color: #FF8200;
    color: #FFFFFF;
    border-radius: 2px;
}
.helper-content{
    padding-right: 10%;
    padding-left: 10%;
}