html{
    background-image: url("bg.png");
}
h2{
    text-align: center;
    color: #080808;
}
h4{
    text-align: center;
}
.head-right {
    text-align: right;
    color: deepskyblue;
}
body{
    color:#000;
    font:normal 1em 'Avenir', arial, verdana, sans-serif;
    display: block;
    background-color: #F3F3F3;
    opacity: 1;
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
    padding-top: 0.4%;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Avenir", arial, verdana, sans-serif;
    font-weight:normal;
}

#main-header {
    font-family: 'Avenir',sans-serif;
    font-size: 1.5em;
    color: #363636;
    background-color: #2952CC;
    position: fixed;
    top: 1.2em;
    left: 1.2em;
}

