html{
    background: #FFFFFF;
}
h2{
    text-align: center;
    color: deepskyblue;}
h4{
    text-align: center;
}
h3{
    color: deepskyblue;
}
.head-right {
    color: deepskyblue;
    margin-left: 50%;
}
.head-left{
    color: deepskyblue;
    font-size: 2em;
    text-align: left;
    padding-left: 4%;
}
.top{
    padding-left: 0%;
    padding-right: 2%;
}
#left-bottom{
    float:left;
    display: inline;
    width: 48%;
    padding-right: 2%
}
#right-bottom{
    float:right;
    display: inline;
    width: 48%;
    padding-left: 2%;
}
body{
    color:#000;
    font:normal 1em 'Avenir', arial, verdana, sans-serif;
    display: block;
    background-color: #FFFFFF;
    opacity: 1;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 0%;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Avenir", arial, verdana, sans-serif;
    font-weight:normal;
}

#main-header {
    font-family: 'Avenir',sans-serif;
    font-size: 1.5em;
    color: #363636;
    background-color: #2952CC;
    position: fixed;
    top: 1.2em;
    left: 1.2em;
}

.main-button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 21;
    -moz-border-radius: 21;
    border-radius: 21px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #256f9e 2px;
    text-decoration: none;
    width: 24%;
}

.main-button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
img{
    border-radius: 15px;
}
footer{
    text-align: center;
}
table{
    font-family: "Avenir", arial, verdana, sans-serif;
}